<header>
    <nav>
        <div id="nav">
            <h1>
                <a href="{{ '/' | url }}" title="Homepage">{{ metadata.title }}</a>
            </h1>
            {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
            {%- for entry in navigation %}
                <a href="{{ entry.url | url }}">{{ entry.name }}</a>
            {%- endfor %}
        </div>
        {# <div id="reading-progress" aria-hidden="true"></div> #}
    </nav>
    <h1>{{ title }}</h1>
    {# {% block extraArticleHeader %}{% endblock %}
    <dialog id="message"></dialog>
    {% if googleanalytics %}
        <noscript>
            <img src="/.netlify/functions/ga?v=1&_v=j83&t=pageview&dr=https%3A%2F%2Fno-script.com&_s=1&dh={{ metadata.domain | encodeURIComponent }}&dp={{ page.url | encodeURIComponent }}&ul=en-us&de=UTF-8&dt={{title|encodeURIComponent}}&tid={{googleanalytics}}" width="1" height="1"
        style="display:none" alt="">
        </noscript>
    {% endif %} #}
</header>