<div class="text-center">
    <ul class="pagination">
        {%- if pagination.href.first -%}
        <li> 
            <a href="{{pagination.href.first | url }}" >First</a> 
        <li>
        {%- endif -%}    

        {%- if pagination.href.previous -%}
        <li> 
            <a href="{{pagination.href.previous | url }}" >&lt;</a> 
        <li>
        {%- endif -%} 

        {% set page_index = 1 %}
        {%- for page in pagination.hrefs -%}
            <li>
                <a href="{{page}}">{{page_index}}</a>
            </li>
        {% set page_index = page_index +1 %}
        {%-endfor-%}

        {%- if pagination.href.next -%}
        <li> 
            <a href="{{pagination.href.next | url }}" >&gt;</a> 
        <li>
        {%- endif -%} 

        {%- if pagination.href.last -%}
        <li> 
            <a href="{{pagination.href.last | url }}" >last</a> 
        <li>
        {%- endif -%} 
    </ul>
</div>