{% for post in postslist | reverse %}
  <div class="under-line">
    <div class="pd-t-sm">
      <div class="flex-col">
        <div class="b">
            <time  datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time> | <span>2 min</span>
        </div>

        <div class="flex-row mg-t-sm">

          <div class="fi">
            <div id="title" class="pd-b-xs">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</div>

            <div class="content">
              {{post.data.description}}
            </div>

            <div class="b pd-tb-sm">
              <a href="{{ post.url | url }}">read more</a>
            </div>
          </div>

          <div class="b mg-l-md">
            {# <div class="fake-img"></div> #}
            <img src="{{post.data.image}}" alt="{{post.data.imageAlt}}" class="post-img">
          </div>

        </div>
        
      </div>
    </div>
  </div>
{% endfor %}