header {
  padding: 4.5em 1.5em 3em;
  width: 37.5em;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0.375em 1.5em;
    background: hsla(0, 0%, 100%, 0.9);
    font-weight: 200;
    text-align: right;
    label {
      color: #000;
      cursor: pointer;
      margin: 0;
      font-style: normal;
      text-align: right;
    }
    h1 {
      float: left;
      font-size: inherit;
      line-height: inherit;
      margin: 0;
      text-align: left;
    }
    a {
      font-weight: 700;
      text-decoration: none;
      font-family: var(--font-family);
      color: #181818;
      margin-left: 1.5em;
    }
    a:first-of-type {
      margin-left: auto;
    }
    a:last-of-type {
      margin-right: 1.5em;
    }
  }
  aside {
    font-style: italic;
  }
  label {
    display: block;
  }
  p {
    margin-top: 0;
  }
}
