article {
  max-width: 100%;
  padding: 1.5em;
  width: 37.5em;
  margin: 0 auto;
  .content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 72px;
    text-overflow: ellipsis;
    letter-spacing: 0;
    overflow: hidden;
    line-height: 24px;
    font-size: 16px;
  }
  .post-img {
    max-width: 200px;
    aspect-ratio: auto 3/2;
    max-height: 130px;
  }
}

.tag {
  padding: 4px 6px;
  border-radius: 8px;
  background-color: #3a3a3a;
}

.under-line {
  box-shadow: inset 0 -1px 0 rgb(230 230 230);
}

share-widget {
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0.9;
  div {
    width: 30px;
    height: 30px;
    background-image: url("../assets/icon/share.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  button {
    margin: 0;
  }
  button:active {
    transform: scale(1.2);
  }
}

.apple share-widget div {
  background-image: url("../assets/icon/share-apple.svg");
}

book-guide {
  position: fixed;
  left: 30px;
  top: 100px;
  max-height: calc(70vh - 100px);
  overflow: auto;
  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  li {
    position: relative;
    display: block;
    a {
      display: block;
      padding: 4px 20px;
      font-size: 13px;
      font-weight: 500;
      color: #767676;
    }
  }
}
