:root {
  --primary: #f9c412;
  --primary-dark: #e7bf60;
  --bg-light: #fff;
  --bg-dark: #181818;
  --font-color: #181818;
  --font-color-dark-version: #eee;
}

@font-face {
  font-family: "Inter UI";
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
  src: url("/assets/fonts/Inter-3.19.var.woff2") format("woff2");
}

* {
  border: 0;
  box-sizing: border-box; //寬度將計算到 border + padding
  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    list-style: none;
  }
}

html {
  font-family: Inter UI, sans-serif;
  --font-family: Inter UI, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background: var(--bg-light);
  color: var(--font-color);
}

h1 {
  font-size: 3em;
  line-height: 1.25;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2.5em;
  line-height: 1.2;
  margin-bottom: 0.6em;
}
h3 {
  font-size: 2em;
  line-height: 1.125;
  margin-bottom: 0.75em;
}
h4 {
  font-size: 1.5em;
  margin-bottom: 1em;
}
h4,
h5 {
  line-height: 1.5em;
}
h5 {
  font-size: 1.25em;
  margin-bottom: 1.2em;
}
h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

a {
  color: var(--primary);
}

dialog {
  background-color: #8dff80;
  position: fixed;
  opacity: 0.9;
  z-index: 1000;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

img[align="left"] {
  width: auto;
  height: 16rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

dl {
  clear: both;
  display: block !important;
}
