.b{
    display: block;
}

.g{
    display: grid;
}

.f{
    display: flex;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-w{
    flex-wrap: wrap;
}

.flex-nw{
    flex-wrap: nowrap;
}

.flex-r-g-sm{
    column-gap: 8px;
}

.flex-c-g-sm{
    row-gap: 8px;
}


.pd-t-sm{
    padding-top: 24px;
}

.pd-b-sm{
    padding-bottom: 24px;
}
.pd-b-xs{
    padding-bottom: 8px;
}

.pd-tb-sm{
    padding: 32px 0;
}


.mg-t-sm{
    margin-top: 24px;
}

.mg-l-md{
    margin-left: 36px;
}