---
title: posts
tags: 
 - "page"
layout: layouts/base.njk
pagination:
    data: collections.posts
    size: 5
    alias: postslist
---


{% include "./_includes/tagList.njk" %}

<h1>all posts</h1>
{# {% set postslist = collections.posts %} #}

{% include "postslist.njk" %}
{% include "./_includes/pagination.njk" %}

{# {% include "./_includes/fetchData.njk" %} #}